<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Adyen Frontend Integrations</title>
    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Adyen Frontend Integrations</h1>
      <p>Select an integration to showcase:</p>
      <a href="/dropin"><button>Drop-in</button></a>
      <a href="/components"><button>Components</button></a>
      <a href="/api-only"><button>API-only</button></a>
      <a href="/session-flow"><button>Sessions Flow</button></a>
    </div>
  </body>
</html>
